/*로그인 버튼눌렸을 때 나오는 로그인 창 설정*/
.menu-form {
  z-index: 1;
  background: #eef3fb;
  min-width: 300px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.form {
  z-index: 1;
  background: rgb(178 216 233 / 80%);
  min-width: 300px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.info-container {
  min-width: 150px;
  padding: 10px;
}
.info-container a {
  padding: 6px;
}

.login-form h2 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}
.txtb input {
  font-size: 15px;
  color: #333;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}
.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}
.focus-box {
  border-bottom: 2px solid rgb(0, 152, 212);
  transition: 0.5s;
}
.focus + span::before {
  top: -5px;
}
.focus + span::after {
  width: 100%;
}

.login-btn {
  display: block;
  width: 100%;
  height: 40px;
  color: #f1f1f1;
  background: rgb(0, 152, 212);
  background-size: 150%;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  border-radius: 5px;
}

.form button:hover{
  background: #50a3a2;
}

.bottom-text {

  text-align: center;
  font-size: 12px;
}
.bottom-text a {
  display: inline;
  color: #6f42c1;
}
.bottom-text a:hover {
  color: #9d89c2;
  background-color: none;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

/* 로그인 안한 상태 */
.inactive {
  /* box-sizing: content-box; */
  overflow: hidden;
  background-image: url("..\\img\\lock-icon.png");
  opacity: 0.8;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #051f1e27;
  z-index: 2;
  position: absolute;
  padding: 8px 16px;
  margin-left: 10px;
  width: calc(100% - 10px);
  height: 100%;
}
.dropdown > ul > li > .inactive {
  width: calc(100% - 20px);
}

/*로그인 버튼*/

.log-btn,
.info-btn {
  cursor: pointer;
  margin-left: 22px;
  background: #1a5d77;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  /* z-index: -1; */
}
.log-btn:hover,
.info-btn:hover {
  background: #7ea6e2;
  color: #fff;
}
@media (max-width: 991px) {
  .log-btn-container,
  .info-btn-container {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/* 메뉴바가 켜진 상태에선 화면이 커져도 x버튼이 사라지지 않음 */
.show-menu {
  display: block !important;
}

/* sitemap */
.info-color {
  background-color: #33b5e5 !important;
}
.view {
  position: relative;
  overflow: hidden;
  cursor: default;
}
.view.view-cascade {
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}
.view.view-cascade.gradient-card-header {
  padding: 1.6rem 1rem;
  color: #fff;
  text-align: center;
}
.view.view-cascade {
  /* margin-top: -1.25rem; */
  margin-right: 4%;
  margin-left: 4%;
}
.company-button {
  cursor: pointer;
}

select {
  width: 150px;
  height: 35px;
  background: white;
  background-size: 20px;
  padding: 2px 30px 2px 10px;
  border-radius: 3px;
  outline: 0 none;
  margin: 4px 1px;
}
/* select option {
  background: black;
  color: #fff;
  padding: 3px 0;
} */

.text-input {
  width: 150px;
  height: 35px;
  backgroundz: white;
  background-size: 20px;
  padding: 2px 30px 2px 10px;
  border-radius: 3px;
  outline: 0 none;
  margin: 4px;
}

#error-msg {
	color: red;
	padding: 10px 0 0px;
	font-size: 13px;
}

#searchStoreBtn {
	background-color: #555fd5;
	color: white;
	width: 50px;
	border-radius:5px;
	padding: 5px 10px;
	border: none;
	margin: 10px;
}
#searchStoreBtn:hover{
	background-color: #8c8ab3;
}

.searchBtn {
	background-color: #555fd5;
	color: white;
	width: 80px;
	border-radius:5px;
	padding: 5px 10px;
	border: none;
	margin: 10px;
}
.searchBtn:hover{
	background-color: #8c8ab3;
}