.register-form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 800px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.register-form button {
  min-width: 120px;
}

.register-form input:not([type="button"]) {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.register-form button:hover,
.register-form button:active,
.register-form button:focus {
  background: #808ebd;
}
