.notice-form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 700px;
  margin: 0 auto 100px;
  padding: 45px;
  /* text-align: center; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.notice-form div {
  margin: 5px;
}

/* .notice-check-btn-box {
  text-align: center;
} */
/* .notice-container .btn,
.notice-check-btn-box .btn {
  background-color: rgb(82, 82, 151);
  color: #ffffff;
}

.notice-container .btn:hover,
.notice-check-btn-box .btn:hover {
  background-color: rgb(102, 102, 165);
  color: #ffffff;
} */

.notice-title {
  cursor: pointer;
}
